@using System.Security.Cryptography.X509Certificates
@model Alternative.Web.ViewModels.FilterViewModel
@{
    ViewData["Title"] = "Select Speciality";
    Layout = "_Layout";
}


<div id="but">
    <form asp-action="GetAllSpecialties">
        <div class="dropblock">
            <div class="droplist">
                @Html.DisplayName("")
                @Html.DropDownListFor(x => x.SelectedSpecialty, Model.Specialties, new { multiple = "true", onclick = "myFunc(this)", size = "4" })

                <span asp-validation-for="Specialties" class="text-danger"></span>
            </div>
           
           
        </div>

        <div id="bb">
            <div id="bt">
                <input id="SearchName" asp-for="SelectedSpecialty" name="SearchText" type="hidden">
                <input id="select" type="submit" title="Выберите специальность" value="ДАЛЬШЕ">
            </div>
        </div>
     
            
      
            
       
    </form>
</div>
