@using System.Security.Cryptography.X509Certificates
@model Alternative.Web.ViewModels.FilterViewModel
@{
    ViewData["Title"] = "Select Speciality";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="~/css/spec.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
    <script src="~/js/search.js"></script>
</head>

<body>
    <header>
        <img class="logo" src="~/images/logo.png" />
        <p class="logoText">ВЫБОР АЛЬТЕРНАТИВ</p>
        <div id="rectanglehead"></div>
    </header>

    <div id="but">
        <form asp-action="GetAllSpecialties">
            <div class="dropblock">
                <div class="droplist">
                    @Html.DisplayName("")
                    @Html.DropDownListFor(x => x.SelectedSpecialty, Model.Specialties, new { multiple = "true", onclick = "myFunc(this)", size = "4" })

                    <span asp-validation-for="Specialties" class="text-danger"></span>
                </div>


            </div>

            <div id="bb">
                <div id="bt">
                    <input id="SearchName" asp-for="SelectedSpecialty" name="SearchText" type="hidden">
                    <input id="select" type="submit" title="Выберите специальность" value="ДАЛЬШЕ">
                </div>
            </div>





        </form>
    </div>

</body>

</html>