@{
    ViewData["Title"] = "Select Course";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Выбор курса и семестра</title>
    <meta name="description" content="Выберите курс и семестр">
    <link rel="stylesheet" href="~/css/course.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <script src="~/js/blockbutton.js"></script>
</head>
<body>
    <div id="rectanglehead">
        <img id="logo" src="~/images/logo.png">
        <div id="logotext">
            <h1>ВЫБОР АЛЬТЕРНАТИВ</h1>
        </div>
    </div>
    <div id="choise">
        <h1> ВЫБЕРИТЕ ВАШ КУРС:</h1>
        <form>
            <input type="checkbox"  id="hd-1" class="hide" />
            <label for="hd-1">ПЗПИ-17</label>
            <div>
                <p> <input name="sem" onclick="EnableSubmit()" type="radio" value="1"> I семестр</p>
                <p> <input name="sem" onclick="EnableSubmit()" type="radio" value="2"> II семестрsssssss</p>
            </div>
            <br>
            <br>
        </form>
    </div>

    <div id="enter">
        <form action="/Home/PickAlternative">
            <input id="button"  type="submit" disabled="disabled" title="Выберите курс и семестр" value="ПРОСМОТРЕТЬ АЛЬТЕРНАТИВЫ">
        </form>
    </div>
</body>
</html>