@{
    ViewData["Title"] = "Description";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/signin.css">
</head>
<body>
    <section>
        <h3>Информация об Альтернативе</h3>
    </section>
    <conteiner>
        <div class="infoBlock">
            <img class="teacherPhoto" src="~/images/leshinskyva.jpg">
            <p class="AlternativeName">Архитектруа программного обеспечения</p>
            <p class="alternativeDescription">Допустим, мы хотим найти в строке все вхождения слова Java. В исходной строке это три слова: "Java", "JavaScript" и "JavaSE". Для этого применим шаблон "Java(\\w*)". Данный шаблон использует синтаксис регулярных выражений. Слово "Java" в начале говорит о том, что все совпадения в строке должны начинаться на Java. </p>
            <p class=countOfPlaces>60 мест</p>
            <a class="teacherName" href="">Лещинский В.А.</a>
        </div>
    </conteiner>
</body>
</html>