@{
    ViewData["Title"] = "Pick Alternative";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alternative</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/signin.css">

</head>
<body>
    <header>
        <img class="logo" src="~/images/logo.png">
        <p class="logoText">ВЫБОР АЛЬТЕРНАТИВ</p>
    </header>
    <content>
        <div class="alternativeBlock">
            <form method="" name="">
                <div class="alternative">
                    <input type="number" name="" max="5" min="0" class="priority" value="0">
                    <p class="name">APZ</p>
                    <a class="description" href="/Home/Description">Description</a>
                    <a class="teacher" href="">
                        Teacher
                    </a>
                </div>
            </form>
        </div>
    </content>
</body>
</html>