@{
    ViewData["Title"] = "Select Speciality";
    Layout = "_Layout";
}




<form action="/Home/Course">
    <button id="select" disabled="true">Выбор курса</button>
    <input type="search" id="searchBox" placeholder="Поиск специальности" />
    <select id="listofSpeciality" style="width:100px; height:400px; font-size: 25pt;" size="15" onclick="Check()">
        <option onclick="myFunc(this)" value="1">ВПС</option>
        <option onclick="myFunc(this)" value="2">КН</option>
        <option onclick="myFunc(this)" value="3">КНТ</option>
        <option onclick="myFunc(this)" value="4">ПЗС</option>
        <option onclick="myFunc(this)" value="5">СПР</option>
        <option onclick="myFunc(this)" value="6">ТДВ</option>
        <option onclick="myFunc(this)" value="7">ІПЗ</option>
        <option onclick="myFunc(this)" value="8">ІТП</option>
        <option onclick="myFunc(this)" value="9">ПІ</option>
    </select>
</form>
<script>
    searchBox = document.querySelector("#searchBox");
    listofSpeciality = document.querySelector("#listofSpeciality");
    var when = "keyup"; //You can change this to keydown, keypress or change

    searchBox.addEventListener("keyup", function (e) {
        var text = e.target.value;
        var options = listofSpeciality.options;
        for (var i = 0; i < options.length; i++) {
            var option = options[i];
            var optionText = option.text;
            var lowerOptionText = optionText.toLowerCase();
            var lowerText = text.toLowerCase();
            var regex = new RegExp("^" + text, "i");
            var match = optionText.match(regex);
            var contains = lowerOptionText.indexOf(lowerText) != -1;
            if (match || contains) {
                option.selected = true;
                return;
            }
            searchBox.selectedIndex = 0;
        }
    });
</script>


<script>
    var Check = function () {
        document.getElementById("select").disabled = false;
        document.getElementById("select").style.opacity = "100%";
    };

    function myFunc(elem) {
        var spec = document.getElementById("spec");
        var countSelected = 0;

        for (var i = 0; i < spec.options.length; i++) {
            if (spec.options[i].selected) countSelected++;
        }
        if (countSelected >= 1) {
            elem.selected = false;
            alert("Больше выбирать нельзя");
        }
    }
</script>